# Idea
**/*.iml
**/.idea/

# VSCode
.vscode/*
.factorypath
.classpath
.settings/
.project
backend/bin/*

#Vagrant
.vagrant/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/backend/nbproject/
node_modules
